.located-item-description {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.located-item-description__group {
	display: flex;
	flex-direction: column;
}

.located-item-description__group_gap_small {
	gap: 5px;
}
.located-item-description__group_gap_medium {
	gap: 10px;
}
.located-item-description__group_gap_large {
	gap: 15px;
}

.located-item-description__row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.located-item-description__row_align_top {
	align-items: start;
}

.located-item-description__row_gap_small {
	gap: 5px;
}
.located-item-description__row_gap_medium {
	gap: 10px;
}
.located-item-description__row_gap_large {
	gap: 15px;
}

.located-item-description__text_title {
	font-weight: 700;
}

.located-item-description__button {
	opacity: .7;
	font-weight: 600;
	cursor: pointer;
}

.located-item-description__range {
	font-weight: 600;
	text-decoration: underline;
	white-space: nowrap;
}

.located-item-description__route {
	font-weight: 600;
}

.located-item-description__range-value:last-child:before {
	content: " — ";
}

.located-item-description__image {
	width: 100%;
	border-radius: 10px;
}

.located-item-description__icon {
}
