.asteriks {
  width: 24px;
  height: 24px;
}

.map-overlay--controls {
  display: flex;
  gap: 20px;
}

.map-overlay--col {
  width: 25%;
}

.map-overlay--col2 {
  width: 50%;
}

.map-overlay--label {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.map-overlay--label span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.2px;
}

.map-overlay--control [type="text"],
.map-overlay--control [type="time"] {
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  height: var(--height);
  line-height: var(--height);
  padding: 0 50px 0 20px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
}

.map-overlay--control [type="time"] {
  padding: 0 20px 0 20px;
  width: 100%;
  text-align: center;
}

.map-overlay--control-box {
  position: relative;
}

.map-overlay--control-box svg {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

body .rs-container .rs-pointer {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: none;
  border: 1px solid #808080;
}

body .rs-container .rs-pointer::after,
body .rs-container .rs-pointer::before,
body .rs-container .rs-scale span::before {
  display: none;
}

body .rs-container .rs-scale {
  display: none;
}

body .rs-container .rs-bg,
body .rs-container .rs-selected {
  height: 1px;
}

body .rs-container {
  width: calc(100% - 20px);
  margin: 0 auto;
}

body .rs-container .rs-selected,
body .rs-container .rs-bg {
  background-color: #808080;
  border: none;
}

body .rs-container .rs-bg {
  background-color: #f6f6f6;
}

.map-overlay--range-box {
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
  height: var(--height);
}

body .rs-tooltip {
  padding: 0;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  height: 20px;
  transform: translate(-65%, 20px);
  background: transparent;
  min-width: unset;
}

.map-overlay--search-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

@media (max-width: 800px) {
  .map-overlay--search-box {
    left: unset;
    right: 20px;
    width: calc(100% - 40px);
  }
}

.map-overlay--search-box [type="text"] {
  border-radius: 10px;
  /* border: 1px solid #eee; */
  background: #fff;
  height: var(--height);
  line-height: var(--height);
  font-size: 18px;
  letter-spacing: -0.5px;
  padding: 0 50px 0 20px;
  width: 100%;
  min-width: 440px;
}

@media (max-width: 800px) {
  .map-overlay--search-box [type="text"] {
    border: 1px solid #eee;
  }
}

.map-overlay--search-box svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.map-overlay--search-results {
  width: 100%;
  max-width: 440px;
  position: absolute;
  top: 95px;
  left: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 800px) {
  .map-overlay--search-results {
    top: calc(var(--height) + 35px);
  }
}

@media (max-width: 700px) {
  .map-overlay--search-results {
    top: calc(var(--height) * 2 + 50px);
  }
}

@media (max-width: 550px) {
  .map-overlay--search-results {
    width: calc(100% - var(--height) - 55px);
  }
}


.map-overlay--search-overflow {
  max-height: 256px;
  overflow-y: auto;
}

.map-overlay--search-block {
  margin-bottom: 20px;
}

.map-overlay--search-block:last-child {
  margin-bottom: 0;
}

.map-overlay--search-title {
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: -0.5px;
  user-select: none;
  display: inline-block;
  width: 200px;
}

.map-overlay--search-title svg {
  margin-left: 5px;
  transition: 0.5s;
}

.map-overlay--search-select {
  cursor: pointer;
  margin-bottom: 21px;
  font-size: 18px;
  letter-spacing: -1.3px;
  user-select: none;
}

.map-overlay--search-checks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  letter-spacing: -0.5px;
}

.map-overlay--search-checks .map-overlay--search-check {
  font-size: 16px;
  letter-spacing: -0.5px;
}

.map-overlay--search-checks label {
  width: 100%;
}

.map-overlay--search-checks .custom-checkbox+label::before {
  transform: translateY(-5px);
}

.map-overlay--search-checks .color {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 7px;
}

.map-overlay--search-select,
.map-overlay--search-checks {
  display: none;
}

.map-overlay--search-block.active .map-overlay--search-select,
.map-overlay--search-block.active .map-overlay--search-checks {
  display: flex;
}

.map-overlay--search-block:not(.active):last-child .map-overlay--search-title {
  margin-bottom: 5px;
}

.map-overlay--search-block:not(.active) .map-overlay--search-title svg {
  transform: rotate(180deg);
}

.map-overlay--btn {
  position: absolute;
  top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--height);
  height: var(--height);
  cursor: pointer;
  transition: 0.4s;
}

@media (max-width: 800px) {
  .map-overlay--btn {
    border-radius: 6px;
  }
}

.map-overlay--btn svg * {}

.map-overlay--btn.active {
  background-color: var(--main);
}

@media (min-width: 801px) {
  .map-overlay--btn:hover {
    background-color: var(--main);
  }
}


.map-overlay--btn {
  background-color: #fff;
}

@media (min-width: 801px) {
  .map-overlay--btn.active:hover {
    background-color: #fff;
  }
}

.map-overlay--ship {
  left: 480px;
}

.map-overlay--anchor {
  left: calc(480px + var(--height) + 15px);
}

.map-overlay--place {
  left: calc(480px + 2 * ( var(--height) + 15px ));
}

@media (max-width: 950px) {
  .map-overlay--ship,
  .map-overlay--anchor,
  .map-overlay--place {
    display: none;
  }
}

.map-overlay--menu {
  left: calc(480px + 3 * ( var(--height) + 15px ));
}

@media (max-width: 950px) {
  .map-overlay--menu {
    left: unset;
    right: calc( var(--height) * 3 + 65px );
  }
}

@media (max-width: 800px) {
  .map-overlay--menu {
    right: 20px;
    top: calc( var(--height) + 35px );
  }
}

@media (max-width: 700px) {
  .map-overlay--menu {
    top: calc( var(--height) * 3 + 65px );
  }
}

.map-overlay--menu .open, .map-overlay--menu .close {
  line-height: 0;
}

.map-overlay--menu:not(.active) .close, .map-overlay--menu.active .open, .map-overlay--toggle-btn:not(.active) + div {
  display: none;
}

.map-overlay--time {
  right: calc(var(--height) * 2 + 50px);
}

@media (max-width: 800px) {
  .map-overlay--time {
    right: 20px;
    top: calc( var(--height) * 2 + 50px );
  }
}

@media (max-width: 700px) {
  .map-overlay--time {
    right: unset;
    left: 20px;
    top: calc( var(--height) + 35px );
  }
}

.map-overlay--line {
  right: calc(var(--height) + 35px);
}


@media (max-width: 800px) {
  .map-overlay--line {
    top: calc( var(--height) * 3 + 65px );
    right: 20px;
  }
}

@media (max-width: 700px) {
  .map-overlay--line {
    top: calc( var(--height) + 35px );
  }
}

.map-overlay--copy {
  right: 20px;
}

@media (max-width: 800px) {
  .map-overlay--copy {
    right: 20px;
    top: calc( var(--height) * 4 + 80px );
  }
}

@media (max-width: 700px) {
  .map-overlay--copy {
    right: 20px;
    top: calc( var(--height) * 2 + 50px );
  }
}

.map-overlay--layers {
  position: absolute;
  left: calc(480px + 3 * ( var(--height) + 15px ));
  top: calc(20px + var(--height) + 15px);
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 950px) {
  .map-overlay--layers {
    left: calc( 100% - var(--height) * 4 - 70px );
  }
}

@media (max-width: 800px) {
  .map-overlay--layers {
    left: unset;
    right: calc( var(--height) + 30px );
    top: calc( var(--height) + 35px );
  }
}

@media (max-width: 700px) {
  .map-overlay--layers {
    right: 20px;
    top: calc( var(--height) * 4 + 80px );
  }
}

@media (min-width: 951px) {
  .map-overlay--layers .map-overlay--layers-hidden {
    display: none;
  }
}

.map-overlay--overlays {
  position: absolute;
  top: calc(20px + var(--height) + 15px);
  right: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.map-overlay--overlays-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map-overlay--range-dates {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  position: absolute;
  width: calc(100% - 20%);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1500px;
  min-height: var(--height);

  @media (max-width: 1919px) {
    width: calc(100% - 25%);
  }

  @media (max-width: 1599px) {
    width: calc(100% - 20px);
  }
}

.range--deco {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.range--deco span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}

.range--deco-left {
  left: 10px;
}

.range--deco-right {
  right: 10px;
}

body .map-overlay--range-dates .rs-container {
  width: calc(100% - 40px);
}

body .map-overlay--range-dates .rs-container:after,
body .map-overlay--range-dates .rs-container:before {
  position: absolute;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #fff;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.5);
  content: "";
}

body .map-overlay--range-dates .rs-tooltip {
  transform: translate(-50%, 20px);
  top: 5px;
  font-size: 13px;
}

body .map-overlay--range-dates .rs-container:after {
  right: -8px;
}

body .map-overlay--range-dates .rs-container:before {
  left: -8px;
}

body .map-overlay--range-dates .rs-container .rs-pointer {
  border: none;
  border-radius: none;
  width: 24px;
  height: 24px;
  z-index: 33;
}

/*
@media all and (max-width: 767px) {
  .map-overlay--search-box [type="text"] {
    min-width: 300px;
  }

  .map-overlay--ship {
    left: 340px;
  }

  .map-overlay--anchor {
    left: calc(340px + var(--height) + 15px);
  }

  .map-overlay--place {
    left: calc(340px + 2 * ( var(--height) + 15px ));
  }
}
*/

/* ... */

.map-overlay {
  position: relative;
  height: 100%;
  pointer-events: none;
}

.map-overlay>* {
  pointer-events: auto;
}

.map-overlay--search-check .color {
  background-color: var(--map-overlay--search-check_color);
}

.map-overlay--range-dates-hidden {
  visibility: hidden;
  pointer-events: none;
}

.map-overlay--range-dates .rs-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12.5px 0;
}

.map-overlay--range-dates .rs-container .rs-bg {
  inset: auto;
}

.map-overlay--range-dates .rs-container .rs-pointer {
  left: calc(var(--map-overlay--range-dates_point, 0) * 100% - 12px);
}

/* svg */

.map-overlay svg {
  transition: none;
}

.map-overlay--search-box svg {
  width: 24px;
  height: 24px;
}

.map-overlay--search-title svg {
  width: 16px;
  height: 8px;
}

.map-overlay--btn svg {
  width: 34px;
  height: 34px;
  transition-duration: 0.4s;
  transition-property: fill stroke;
}

.map-overlay--btn-primary-stroke.active svg {
  stroke: #ffffff;
}

@media (min-width: 801px) {
  .map-overlay--btn-primary-stroke:hover svg {
    stroke: #ffffff;
  }
}

.map-overlay--btn-primary-stroke svg {
  stroke: var(--main);
}

@media (min-width: 801px) {
  .map-overlay--btn-primary-stroke.active:hover svg {
    stroke: var(--main);
  }
}

.map-overlay--btn-primary-fill.active svg {
  fill: #ffffff;
}

@media (min-width: 801px) {
  .map-overlay--btn-primary-fill:hover svg {
    fill: #ffffff;
  }
}

.map-overlay--btn-primary-fill svgg {
  fill: var(--main);
}

@media (min-width: 801px) {
  .map-overlay--btn-primary-fill.active:hover svg {
    fill: var(--main);
  }
}

.asteriks svg {
  width: 24px;
  height: 24px;
  fill: var(--main);
}

.map-overlay--range-dates .rs-container .rs-pointer {
  position: relative;
  padding: 2px;
}

.map-overlay--range-dates .rs-container .rs-pointer svg {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: var(--main);
  stroke: #ffffff;
}

@media (max-width: 800px) {
  .map-overlay {
    /* height: calc(50dvh + 130px); */
    /* height: 1000px; */
    height: 69vh;
    height: 69dvh;
  }

  .map-overlay--overlays {
    display: none;
  }
}
