<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>КруБИС</title>

	<link rel="stylesheet" href="./index.css">
</head>

<body>

	<main id="root">
		<div class="filter-overlay">
			<h2>онлайн карта</h2>
			<div class="filter-box">
				<div class="_label">
					<p>Выберите дату <span class="symbol"> ?</span></p>
					<div class="datepicker-container">
						<label class="datepicker-label">
							<input type="text" id="datepicker-input" placeholder="" readonly>
							<%- include('./icons/calendar.svg') %>
						</label>
						<div id="datepicker-calendar" class="hidden">
							<div class="calendar-header">
								<span id="calendar-title"></span>
								<button id="prev-month">‹</button>
								<button id="next-month">›</button>
							</div>
							<div class="calendar-days">
								<div>вс</div>
								<div>пн</div>
								<div>вт</div>
								<div>ср</div>
								<div>чт</div>
								<div>пт</div>
								<div>сб</div>
							</div>
							<div id="calendar-body"></div>
							<button id="confirm">сбросить</button>
						</div>
					</div>
					<div class="mobile-datepicker-container">
						<div class="moblie-input-wrapper">
							<input id="mobile-day-input" placeholder="дд">
							<ul class="mobile-options-container">
								<li>1</li>
								<li>2</li>
								<li>3</li>
							</ul>
						</div>
						<div class="moblie-input-wrapper">
							<input id="mobile-month-input" placeholder="мм">
							<ul class="mobile-options-container">
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>
								<li>8</li>
								<li>9</li>
								<li>10</li>
								<li>11</li>
								<li>12</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="_label">
					<p>Шкала времени <span class="symbol"> ?</span></p>
					<div class="range-container">
						<div class="slider-container">
							<input type="range" id="time-slider" min="0" max="1439" value="720">
							<i></i>
							<i></i>
						</div>
						<div id="time-tooltip">12:00</div>
						<div class="--title">
							<span>00:00</span>
							<span>23:59</span>
						</div>
					</div>
				</div>
				<div class="_label">
					<p class="time-picker-label">Текущее время <span class="symbol"> ?</span></p>
					<label for="timeInput" class="time-picker-container">
						<input type="time" id="timeInput" step="1">
						<span id="timeDisplay">00:00:00</span>
					</label>
				</div>
				<div class="timepicker-hide-button">режим онлайн</div>
			</div>
			<%- include('./components/map-container/index') %>
		</div>
	</main>

</body>
<script src="./script.js"></script>

</html>