.filter-overlay {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;

  >h2 {
    display: none;
    font-weight: 600;
    font-size: 30px;
    padding: 0 11%;
    text-transform: uppercase;
    letter-spacing: -1.9px;

    @media (max-width: 1919px) {
      padding: 0 12.6%;
    }

    @media (max-width: 1599px) {
      padding: 0 20px;
    }
  }

  @media (max-width: 1599px) {
    flex-wrap: wrap;
    gap: 10px;
  }

  @media (max-width: 800px) {
    gap: 20px;
  }
}

.filter-box {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 95px;
  right: 146px;
  width: 320px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1000;
}

.filter-box.active {
  visibility: visible;
}

._label {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 600;
  width: 100%;

  .symbol {
    border: 1px solid #32739d;
    color: #32739d;
    /* padding: 0px 5px; */
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.3px;
    text-align: left;
  }
}

@media (max-width: 639px) {
  ._label:nth-child(2) {
    display: none;
  }

  ._label:nth-child(3) {
    gap: 2px;
  }

  ._label p {
    font-size: 12px;
  }

  ._label .symbol {
    width: 11px;
    height: 11px;
    font-size: 9px;
    line-height: 9px;
    /* padding: 0px 2px;
    text-align: center; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.datepicker-container {
  position: relative;
  /* width: 400px; */
}

.datepicker-label {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 0;
  border-radius: 10px;
  border: 1px solid #EEEEEE;
  overflow: hidden;
}

#datepicker-input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.datepicker-label svg {
  fill: var(--main);
}

#datepicker-calendar {
  position: absolute;
  top: 70px;
  left: 0;
  width: 280px;
  max-width: calc(100vw - 40px);
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  /* box-shadow: 0 0px 4px rgba(0, 0, 0, 0.226); */
  padding: 10px 11px 11px;
  z-index: 1000;

  >button {
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: none;
    background: #32739d;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
}

.hidden {
  display: none;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}

.calendar-header button {
  background: none;
  border: none;
  color: #000;
  font-size: 28px;
  line-height: 14px;
  padding-bottom: 4px;
  cursor: pointer;
}

#prev-month {
  order: -1;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

#calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  padding: 10px 0;
  padding-bottom: 18px;
}

.calendar-days > :nth-child(7),
#calendar-body > :nth-child(7n) {
  color: #BF0000;
}

.day {
  width: 36.8px;
  height: 36.8px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

@media (max-width: 450px) {
  .day {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.day:hover {
  border-color: #32739d;
}

.day.selected {
  border-color: #32739d;
}

.range-container {
  position: relative;
  /* width: 500px; */
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  z-index: 999;
}

.slider-container {
  position: relative;
  width: 100%;
  padding: 0 25px;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    width: 16px;
    height: 16px;
    border: 1px solid #00000075;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
  }
}

.slider-container i:last-child {
  left: 10px;
}

.--title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #444;
  font-weight: 400;
  font-size: 14px;
}

#time-slider {
  width: 100%;
  appearance: none;
  background: transparent;
  position: relative;
  z-index: 1;
}

#time-slider::-webkit-slider-runnable-track {
  height: 1px;
  background: #00000075;
  border-radius: 5px;
}

#time-slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-top: -7px;
  background: #32739d;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

#time-tooltip {
  position: absolute;
  top: -20px;
  background: white;
  border: 1px solid #32739d;
  color: #32739d;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  transition: left 0.1s ease-out;
}

.time-picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
  height: 58px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  text-align: center;
  position: relative;
  margin-bottom: 63px;
}

#timeInput {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: -1;
}

@media (max-width: 900px) {
  .filter-box {
    right: 118px;
    /* padding: 12px; */
  }
}


@media (max-width: 800px) {
  .filter-overlay {
    >h2 {
      padding: 0 20px 200px;
    }
  }

  .datepicker-container,
  .range-container,
  .time-picker-container {
    /* width: 90vw !important; */
    width: 100%;
    height: 54px;
  }
}

@media (max-width: 639px) {
  .filter-overlay {
  }

  .filter-box {
    top: 118px;
    right: 69px;
    width: 195px;
    gap: 17px;
  }
}


._label .time-picker-label {
  display: block;
  text-align: center;
}

#timeDisplay {
  color: black;
  opacity: 0.5;
}

.timepicker-hide-button {
  width: 100%;
  padding: 19px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  border-radius: 10px;
  background: var(--main);
  cursor: pointer;
}

@media (max-width: 639px) {
  .timepicker-hide-button {
    padding: 12px;
    font-size: 9px;
    border-radius: 6px;
  }
}

.mobile-datepicker-container {
  display: none;
  gap: 10px;
}

@media (max-width: 639px) {
  .mobile-datepicker-container {
    display: flex;
  }

  .datepicker-container {
    display: none;
  }
}

#mobile-day-input,
#mobile-month-input {
  width: 100%;
  height: 28px;
  padding: 0 10px;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
  background-color: #fff;
  font-size: 12px;
  color: #000;
  appearance: none;
  outline: none;
}

.mobile-input-button-day,
.mobile-input-button-month {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%2332739D' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.mobile-input-button-day.active,
.mobile-input-button-month.active {
  transform: translateY(-50%) rotate(180deg);
}

.moblie-input-wrapper {
  position: relative;
  height: 28px;
}

.mobile-options-container-day,
.mobile-options-container-month {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  padding: 0 10px;
  width: 100%;
  height: 85px;
  overflow-y: auto;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
  background-color: #fff;
  z-index: 999;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mobile-options-container-day.active,
.mobile-options-container-month.active {
  display: block;
}

.mobile-options-container-day::-webkit-scrollbar,
.mobile-options-container-month::-webkit-scrollbar {
  display: none;
}

.mobile-options-container-day li,
.mobile-options-container-month li {
  list-style: none;
  padding: 3.5px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 10px;
  border-bottom: 1px solid #EEEEEE;
  transition: background-color 0.3s ease;
}

.mobile-options-container-day li.active,
.mobile-options-container-month li.active {
  color: #000;
}

.mobile-options-container-day li:first-child,
.mobile-options-container-month li:first-child {
  margin-top: 20px;
}

.mobile-options-container-day li:last-child,
.mobile-options-container-month li:last-child {
  border-bottom: none;
  margin-bottom: 20px;
}

@media (max-width: 639px) {
  .time-picker-container {
    height: 34px;
    margin-bottom: 23px;
    border-radius: 6px;
  }
}
