.map {
	--theme-background: #FFFFFF;
	--theme-foreground: #000000;
	font-size: 16px;
}

.map button {
	border: none;
	background: none;
	font-size: inherit;
	text-align: left;
}

.map svg {
	transition: none;
}

.map__layer:not(.map__layer_visible) {
	display: none;
}

.map__popup {
	overflow: hidden;
	width: 300px;
	height: auto;
	margin-bottom: calc(12px + var(--map__popup_offset));
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
	background-color: var(--theme-background);
}

.map__popup-scroller {
	overflow: auto;
	max-height: 460px;
	padding-left: 20px;
	padding-right: 20px;
}
