.map {
	--theme-background: #FFFFFF;
	--theme-foreground: #000000;
	font-size: 16px;
}

.map button {
	border: none;
	background: none;
	font-size: inherit;
	text-align: left;
}

.map svg {
	transition: none;
}

.map__layer:not(.map__layer_visible) {
	display: none;
}

.map__popup {
	overflow: auto;
	width: 300px;
	max-width: 100%;
	height: 500px;
	max-height: 100%;
	margin-bottom: calc(12px + var(--map__popup_offset));
	padding: 20px;
	border-radius: 10px;
	background-color: var(--theme-background);
}

.map__popup_loaded {
	height: auto;
	max-height: min(500px, 100%);
}