.leaflet-container {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.leaflet-popup {
	margin-bottom: calc(var(--leaflet-popup_icon-height) / 2);
}

.leaflet-popup-tip-container {
	display: none;
}

.leaflet-popup-content-wrapper {
	padding: 0;
	border-radius: 0;
	background: none;
	color: inherit;
	box-shadow: none;
}

.leaflet-popup-content {
	margin: 0;
	line-height: inherit;
	font-size: inherit;
}

.leaflet-popup-content p {
	padding: 0;
	margin: 0;
}

.leaflet-marker-icon {
	width: var(--leaflet-marker-icon_width);
	height: var(--leaflet-marker-icon_height);
	margin-left: calc(var(--leaflet-marker-icon_width) / -2);
	margin-top: calc(var(--leaflet-marker-icon_height) / -2);
}

.leaflet-marker-icon,
.leaflet-marker-icon svg,
.leaflet-marker-icon.leaflet-interactive {
	pointer-events: none;
}

.leaflet-marker-icon svg *,
.leaflet-marker-icon.leaflet-interactive :not(svg):not(div) {
	pointer-events: auto;
}

.leaflet-marker-icon>* {
	width: 100%;
	height: 100%;
}

.measure__popup {
	background-color: #fff;
	color: #000;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid red;
	padding-right: 20px;
}

.measure__marker {
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50%;
}

.leaflet-control-coords {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 120px;
	gap: 3px;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	font-size: 12px;
	line-height: 120%;
	text-align: right;
}

@media (max-width: 800px) {
	.leaflet-control-coords {
		display: none;
	}
}

.leaflet-mile {
	position: absolute;
	bottom: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	z-index: 1000;
}

@media (max-width: 800px) {
	.leaflet-mile {
		display: none;
	}
}

.leaflet-mile__block {
	display: flex;
	align-items: center;
}

.leaflet-mile__block-marker {
	width: 1px;
	height: 7px;
	background-color: rgba(0, 0, 0, 0.5);
}

.leaflet-mile__block-line {
	display: block;
	flex: auto;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.5);
}

.leaflet-mile__block-text {
	padding: 0 2px;
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
	line-height: 120%;
}
