.map-container {
  position: relative;
  display: grid;
  /* min-height: 100%; */

  @media (max-width: 800px) {
    min-height: 69vh;
    min-height: 69dvh;
    height: 69vh;
    height: 69dvh;
  }
}

.map-container__map,
.map-container__overlay {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 0;
}

.map-container__map {
  position: relative;
  height: calc(100vh - 97px);
  min-height: 600px;
}

.map-container__map map {
  height: 100%;
}

.map-container__overlay {
  position: absolute;
  inset: 0;
}

@media (max-width: 800px) {
  .map-container__map {
    /* height: 50dvh; */
    height: 69vh;
    height: 69dvh;
    margin-bottom: 100px;
  }
}
