<section class="map-container">

	<%- include('../map/index', {className: 'map-container__map'}) %>

	<%- include('../map-overlay/index', {className: 'map-container__overlay', style: 'display: none'}) %>

</section>
