.map-container {
  position: relative;
  display: grid;
}

.map-container__map,
.map-container__overlay {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 0;
}

.map-container__map {
  position: relative;
  height: calc(100vh - 97px);
  min-height: 600px;
}

@media (max-width: 639px) {
  .map-container__map {
    height: calc(100vh - 62px);
  }
}

.map-container__map map {
  height: 100%;
}

.map-container__overlay {
  position: absolute;
  inset: 0;
}
