.map-container {
  position: relative;
  display: grid;
  min-height: 100%;

  @media (max-width: 800px) {
    min-height: 1000px;
    height: 1000px;
  }
}

.map-container__map,
.map-container__overlay {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 0;
}

.map-container__map {
  height: 100%;
  position: relative;
  height: 998px;
}

.map-container__overlay {
  position: absolute;
  inset: 0;
}

@media (max-width: 800px) {
  .map-container__map {
    /* height: 50dvh; */
    height: 1000px;
    margin-bottom: 100px;
  }
}